<app-header></app-header>
<div class="main">

  <!-- ========== ANIMATED PAGE TITLE ========== -->
  <div class="slider-container rev_slider_wrapper">
      <div id="pageTitleHero" class="slider rev_slider pageTitleHero" data-plugin-revolution-slider data-plugin-options=''>
          <ul>
              <!-- SLIDE  -->
              <li data-index="rs-226" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off"
                  data-title="Intro">
                  <!-- MAIN IMAGE -->
                  <img src="assets/collection/images/bg-img-5.jpg" alt="" title="Page title" width="1920" height="980" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption tp-shape tp-shapewrapper" id="slide-226-layer-10" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full"
                      data-height="full" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="s:300;s:300;" data-start="750" data-basealign="slide" data-responsive_offset="on"
                      data-responsive="off" style="z-index: 5;text-transform:left;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 0.40);"> </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-226-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-22','-29']" data-fontsize="['50','50','50','30']"
                      data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on"
                      style="z-index: 7; white-space: nowrap;text-transform:left;color:#fff;">We are Salt!</div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption NotGeneric-SubTitle tp-resizeme" id="slide-226-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','28','13']" data-width="none"
                      data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                      data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;text-transform:left;color:#fff;">Our customers love us!</div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption " id="slide-226-layer-7" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['105','105','80','65']" data-width="none" data-fontsize="['14','14','12','12']"
                      data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                      data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1250" data-splitin="none" data-splitout="none" 
                      data-responsive_offset="on" data-responsive="off" style="z-index: 9; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;color:#fff;"><a href="http://themeforest.net/item/salt-multipurpose-html5-template/16422281?ref=salttechno" class="st-btn hvr-back hvr-rectangle-out full-rounded white-color" target="_blank">Buy Now</a> </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption tp-breadcrumb NotGeneric-SubTitle tp-resizeme hidden-xs hidden-sm" id="slide-226-layer-5" data-x="['right','right','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','middle','middle']" data-voffset="['0','0','120','80']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                      data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;text-transform:left;">
                      <ol class="breadcrumb">
                          <li><a href="#" class="trans">Home</a></li>
                          <li><a href="#" class="trans">Pages</a></li>
                          <li><a href="#" class="active trans">About Us</a></li>
                      </ol>
                  </div> <!-- end tp-caption -->
              </li> <!-- end slide -->
          </ul>
      </div> <!-- end pageTitleHero -->
  </div> <!-- end slider-container -->

  <!-- ========== CONTENT SECTION WITH PARALLAX IMAGE ON LEFT ========== -->
  <section class="content-section zero-padding parallax-section" data-parallax="scroll" data-image-src="assets/collection/images/bg-img-21.jpg" data-speed="0.6">
      <div class="container-fluid">
          <div class="row">

              <div class="col-md-8 col-md-offset-4 white-bg">
                  <div class="pt90 pl60 pr60 pb30 plxs30 prxs30">
                      <div class="col-md-12 mb60">
                          <h5 class="underline">About Us</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                      </div>
                      <div class="col-md-6 mb60">
                          <h6 class="underline">Our Vision</h6>
                      <p>Sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipisicing elit, magna aliqua.</p>
                      </div>
                      <div class="col-md-6 mb60">
                          <h6 class="underline">Our Mission</h6>
                      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div> <!-- end gray-bg -->
          </div> <!-- end row -->
      </div> <!-- end container-fluid -->
  </section>

  <!-- ========== MORE INFO ========== -->
  <section class="content-section">
      <div class="container">
          <div class="row">

              <!-- ========== SECTION HEADER ========== -->
              <div class="col-md-12 section-header text-center">
                  <h3 class="section-title underline">Our Skills</h3>
                  <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              </div> <!-- end section-header -->

              <div class="col-md-3 col-sm-6 text-center"  >
                  <div class="chart" data-percent="98">
                      <span class="chart-caption"><i class="icon ion-ios-chatboxes-outline"></i></span>
                  </div>
                  <h6 class="capitalize mt10">Web Design</h6>
                  <p class="desc text-muted mt10">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div> <!-- end col-md-3 -->

              <div class="col-md-3 col-sm-6 text-center" >
                  <div class="chart" data-percent="92">
                      <span class="chart-caption"><i class="icon ion-ios-reverse-camera-outline"></i></span>
                  </div>
                  <h6 class="capitalize mt10">UI Design</h6>
                  <p class="desc text-muted mt10">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div> <!-- end col-md-3 -->

              <div class="col-md-3 col-sm-6 text-center" >
                  <div class="chart" data-percent="85">
                      <span class="chart-caption"><i class="icon ion-ios-calculator-outline"></i></span>
                  </div>
                  <h6 class="capitalize mt10">UX Design</h6>
                  <p class="desc text-muted mt10">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div> <!-- end col-md-3 -->

              <div class="col-md-3 col-sm-6 text-center" >
                  <div class="chart" data-percent="75">
                      <span class="chart-caption"><i class="icon ion-ios-game-controller-b-outline"></i></span>
                  </div>
                  <h6 class="capitalize mt10">Graphic Design</h6>
                  <p class="desc text-muted mt10">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div> <!-- end col-md-3 -->

          </div> <!-- end row -->
      </div> <!-- end container -->
  </section>

  <!-- ========== TRUST SECTION ========== -->
  <section class="content-section">
      <div class="container">
          <div class="row">

              <!-- ========== SECTION HEADER ========== -->
              <div class="col-md-12 section-header text-center">
                  <h3 class="section-title underline">Trust Us</h3>
                  <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
              </div> <!-- end section-header -->

              <div class="col-md-3 col-sm-6">
                  <div class="counter-box text-center">
                      <div class="count-info">
                          <h6><span class="counter">11000</span></h6>
                          <p>delighted clients.</p>
                      </div> <!-- end count-info -->
                      <span class="count-icon ion-happy-outline"></span>
                  </div> <!-- end counter-box -->
              </div> <!-- end col-md-3 -->
              <div class="col-md-3 col-sm-6">
                  <div class="counter-box text-center">
                      <div class="count-info">
                          <h6><span class="counter">2200</span></h6>
                          <p>projects done.</p>
                      </div> <!-- end count-info -->
                      <span class="count-icon ion-ios-flag-outline"></span>
                  </div> <!-- end counter-box -->
              </div> <!-- end col-md-3 -->
              <div class="col-md-3 col-sm-6">
                  <div class="counter-box text-center">
                      <div class="count-info">
                          <h6><span class="counter">7000</span></h6>
                          <p>cups of tea.</p>
                      </div> <!-- end count-info -->
                      <span class="count-icon ion-ios-flame-outline"></span>
                  </div> <!-- end counter-box -->
              </div> <!-- end col-md-3 -->
              <div class="col-md-3 col-sm-6">
                  <div class="counter-box text-center">
                      <div class="count-info">
                          <h6><span class="counter">120</span></h6>
                          <p>devices tested.</p>
                      </div> <!-- end count-info -->
                      <span class="count-icon ion-ios-albums-outline"></span>
                  </div> <!-- end counter-box -->
              </div> <!-- end col-md-3 -->

          </div>
      </div>
  </section>

  <!-- ========== CLIENTS CAROUSEL ========== -->
  <section class="content-section">
      <div class="container">
          <div class="row">
              <div class="owl-carousel client-carousel">
                  <div class="text-center">
                      <img src="assets/collection/images/clients/swimmers-1.png" alt="Client 1" />
                  </div>
                  <div class="text-center">
                      <img src="assets/collection/images/clients/james-some-1.png" alt="Client 1" />
                  </div>
                  <div class="text-center">
                      <img src="assets/collection/images/clients/sea-face-resort-1.png" alt="Client 1" />
                  </div>
                  <div class="text-center">
                      <img src="assets/collection/images/clients/grandde-inn-1.png" alt="Client 1" />
                  </div>
                  <div class="text-center">
                      <img src="assets/collection/images/clients/handsome-salman-1.png" alt="Client 1" />
                  </div>
                  <div class="text-center">
                      <img src="assets/collection/images/clients/front-lead-1.png" alt="Client 1" />
                  </div>
                  <div class="text-center">
                      <img src="assets/collection/images/clients/badde-cakes-1.png" alt="Client 1" />
                  </div>
              </div> <!-- end owl-carousel -->
          </div> <!-- end row -->
      </div> <!-- end container -->
  </section>

  <!-- ========== FULL WIDTH CTA ========== -->
  <section class="cta trans">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <h5 class="cta-title">Get in touch</h5>
                  <p class="cta-desc mb20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                  <a href="pages-contact-us-1.html" class="st-btn primary-btn full-rounded">Contact Us</a>
              </div> <!-- end text-center -->
          </div> <!-- end row -->
      </div> <!-- end container -->
  </section>

</div>
<app-footer></app-footer>
