<div class="header">
  <div class="container-fluid">
    <!-- ========== MENU ========== -->
    <nav class="menu">
      <div class="logo">
        <a routerLink=""><img src="../../assets/collection/images/logo-green.png" alt="Salt" class="logo-img"></a>
      </div> <!-- end logo -->
      <!-- ========== MAIN MENU ========== -->
      <ul class="main-menu">
        <li routerLinkActive="active" class="menu-item">
          <a routerLink="/home"><i class="menu-icon fa fa-home"></i> Home</a>
          <!-- Sub Menu -->

        </li> <!-- end menu-item -->
        <!-- end menu-item -->

        <li routerLinkActive="active" class="menu-item">
          <!-- <a href="services-3.html" routerLink="/section1"><i class="fa fa-bars"></i> Product</a> -->
          <a routerLink="/product"><i class="fa fa-bars"></i> Product</a>
          <!-- Sub Menu -->

        </li> <!-- end menu-item -->

        <li routerLinkActive="active" class="menu-item">
          <!-- <a  href="services.html"><i class="fa fa-diamond"></i> Services</a> -->
          <a routerLink="/service"><i class="fa fa-diamond"></i> Services</a>

          <!-- Sub Menu -->

        </li> <!-- end menu-item -->

        <li routerLinkActive="active" class="menu-item">
          <a routerLink="/overview"><i class="menu-icon fa fa-clone"></i> Overview</a>
          <!-- Sub Menu -->

        </li> <!-- end menu-item -->

        <li routerLinkActive="active" class="menu-item">
          <a routerLink="/blog"><i class="menu-icon fa fa-magic"></i> Blog</a>

        </li> <!-- end menu-item -->



      </ul> <!-- end main-menu -->
    </nav> <!-- end menu -->
  </div> <!-- end container-fluid -->
</div>
