.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.img-container img{height:980px }
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
