<footer class="footer footer-style-3 dark-footer" id="footer">
Footer
    <div class="container footer-top">
        <div class="row">

            <!-- ========== left part ========== -->
            <div class="col-md-8 col-sm-8">
                <div class="vcenter mb20">
                    <img src="../../assets/collection/images/logo-light.png" alt="Salt - HTML5 theme" class="img-responsive mb20" width="100">
                    <div class=" clearfix">
                        <p class="footer-desc">
                            Multi-purpose HTML5 site template - We do innovative things to create awesome designs. Creating out of the box websites since 1999.
                        </p>
                    </div>
                </div> <!-- end vcenter -->
                <div class="col-md-3 col-sm-6">
                    <h5 class="footer-title underline">Company</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">About Company</a></li>
                        <li><a href="#" class="trans">Our Team</a></li>
                        <li><a href="#" class="trans">Our Vision</a></li>
                        <li><a href="#" class="trans">Join Us</a></li>
                    </ul>
                </div> <!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <h5 class="footer-title underline">Services</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">Website Design</a></li>
                        <li><a href="#" class="trans">Web Development</a></li>
                        <li><a href="#" class="trans">Graphic Design</a></li>
                        <li><a href="#" class="trans">Content Writing</a></li>
                    </ul>
                </div> <!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <h5 class="footer-title underline">Shortcodes</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">Accordions</a></li>
                        <li><a href="#" class="trans">Feature Boxes</a></li>
                        <li><a href="#" class="trans">Call To Actions</a></li>
                        <li><a href="#" class="trans">Sticky Elements</a></li>
                    </ul>
                </div> <!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <h5 class="footer-title underline">Features</h5>
                    <ul class="ul">
                        <li><a href="#" class="trans">Headers</a></li>
                        <li><a href="#" class="trans">Footers</a></li>
                        <li><a href="#" class="trans">Menu Styles</a></li>
                        <li><a href="#" class="trans">Page Titles</a></li>
                    </ul>
                </div> <!-- end col-md-3 -->
            </div> <!-- end col-md-8 -->

            <!-- ========== right part ========== -->
            <div class="col-md-4 col-sm-4">
                <h5 class="footer-title underline">Contact Us</h5>
                <h2>+1 (123) 456-7890</h2>
                <h6 class="lowercase mt10 mb30">support@themesease.com</h6>
                <p class="footer-desc address">
                    <i class="icon fa fa-map-marker"></i>
                    A902, Crosswinds, Western Road,<br>
                    Brighton, East Sussex,<br>
                    England - 411057<br>
                </p> <!-- end footer-desc -->
                <p class="footer-desc address mt20">
                    <i class="icon fa fa-map-marker"></i>
                    A203, Ishwarya, Edgar Buildings,<br>
                    Wakad Road, George Street,<br>
                    Bath, England - 411045<br>
                </p> <!-- end footer-desc -->
            </div> <!-- end col-md-4 -->

        </div> <!-- end row -->
    </div> <!-- end footer-top -->

    <div class="container footer-middle">
        <div class="row">
            <div class="col-md-6">
                <h6 class="footer-title lowercase"><i class="fa fa-phone"></i> +1 (123) 456-7890 <span class="ml10 mr10">|</span> <i class="fa fa-envelope"></i> support@themesease.com</h6>
            </div>
            <div class="col-md-6 text-right">
                <a href="#" class="trans pr10 pl10"><i class="fa fa-facebook"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-twitter"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-youtube"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-vimeo"></i></a>
                <a href="#" class="trans pr10 pl10"><i class="fa fa-linkedin"></i></a>
            </div> <!-- end col-md-6 -->
        </div> <!-- end row -->
    </div> <!-- end footer-middle -->

    <div class="footer-last">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    &copy; 2016 ThemesEase
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" class="mr10">Terms of Use</a> <a href="#">Privacy Policy</a>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </div> <!-- end footer-last -->

    <!-- ========== Scroll to top button ========== -->
    <div class="scroll-to-top trans"><i class="fa fa-angle-up"></i></div>
</footer>
