<app-header></app-header>
<div class="main">

  <!-- ========== PAGE TITLE ========== -->
  <div class="page-title-div" >
      <div class="container">
          <div class="row page-title-row">
              <div class="col-md-6 col-sm-6">
                  <h1 class="page-title">Blog</h1>
                  <p>One stop solution for a stunning website.</p>
              </div> <!-- end col-md-6 -->

              <div class="col-md-6 col-sm-6 hidden-xs">
                  <ol class="breadcrumb pull-right border-0">
                      <li><a href="#" class="trans">Home</a></li>
                      <li><a href="#" class="trans">Pages</a></li>
                      <li><a href="#" class="active trans">Blog</a></li>
                  </ol>
              </div> <!-- end col-md-6 -->
          </div> <!-- end page-title-row -->
      </div> <!-- end container -->
  </div>

  <!-- ========== BLOG SECTION ========== -->
  <section class="content-section">
      <div class="container">
          <div class="row">

              <!-- ========== SECTION HEADER ========== -->
              <div class="col-md-12 section-header text-center">
                  <h3 class="section-title underline">Welcome to our blog.</h3>
                  <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              </div> <!-- end section-header -->

              <div class="col-md-9">

                  <div class="col-md-6 col-sm-6 blog-box mb40">
                      <div class="blog-img-box">
                          <a href="#"><img src="assets/collection/images/bg-img-1.jpg" alt="" class="img-responsive"></a>
                      </div>
                      <h5 class="mt20 blog-title"><a href="#">Why should you build a website?</a></h5>
                      <small class="text-muted">01 Apr 2016 | <a href="#">12 Comments</a></small>
                      <p class="mt10 lighter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                  </div> <!-- end blog-box -->

                  <div class="col-md-6 col-sm-6 blog-box mb40">
                      <div class="blog-img-box">
                          <a href="#"><img src="assets/collection/images/bg-img-20.jpg" alt="" class="img-responsive"></a>
                      </div>
                      <h5 class="mt20 blog-title"><a href="#">Why should you build a website?</a></h5>
                      <small class="text-muted">01 Apr 2016 | <a href="#">12 Comments</a></small>
                      <p class="mt10 lighter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                  </div> <!-- end blog-box -->

                  <div class="col-md-6 col-sm-6 blog-box mb40">
                      <div class="blog-img-box">
                          <a href="#"><img src="assets/collection/images/bg-img-3.jpg" alt="" class="img-responsive"></a>
                      </div>
                      <h5 class="mt20 blog-title"><a href="#">Why should you build a website?</a></h5>
                      <small class="text-muted">01 Apr 2016 | <a href="#">12 Comments</a></small>
                      <p class="mt10 lighter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                  </div> <!-- end blog-box -->

                  <div class="col-md-6 col-sm-6 blog-box mb40">
                      <div class="blog-img-box">
                          <a href="#"><img src="assets/collection/images/bg-img-21.jpg" alt="" class="img-responsive"></a>
                      </div>
                      <h5 class="mt20 blog-title"><a href="#">Why should you build a website?</a></h5>
                      <small class="text-muted">01 Apr 2016 | <a href="#">12 Comments</a></small>
                      <p class="mt10 lighter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                  </div> <!-- end blog-box -->

                  <div class="col-md-6 col-sm-6 blog-box mb40">
                      <div class="blog-img-box">
                          <a href="#"><img src="assets/collection/images/bg-img-22.jpg" alt="" class="img-responsive"></a>
                      </div>
                      <h5 class="mt20 blog-title"><a href="#">Why should you build a website?</a></h5>
                      <small class="text-muted">01 Apr 2016 | <a href="#">12 Comments</a></small>
                      <p class="mt10 lighter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                  </div> <!-- end blog-box -->

                  <div class="col-md-6 col-sm-6 blog-box mb40">
                      <div class="blog-img-box">
                          <a href="#"><img src="assets/collection/images/bg-img-1.jpg" alt="" class="img-responsive"></a>
                      </div>
                      <h5 class="mt20 blog-title"><a href="#">Why should you build a website?</a></h5>
                      <small class="text-muted">01 Apr 2016 | <a href="#">12 Comments</a></small>
                      <p class="mt10 lighter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                  </div> <!-- end blog-box -->

                  <div class="row">
                      <a href="#" class="st-btn full-rounded">&larr; Older</a>
                      <a href="#" class="st-btn full-rounded pull-right">Newer &rarr;</a>
                  </div>

              </div> <!-- end col-md-9 -->

              <div class="col-md-3">

                  <!-- ========== TWITTER FEEDS ========== -->
                  <a class="twitter-timeline" data-height="600" href="https://twitter.com/SaltTechno">Tweets by SaltTechno</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                  <h5 class="underline mt30">Archives</h5>
                  <ul class="list-group mb60">
                      <li class="list-group-item"><a href="#">Apr 2016</a></li>
                      <li class="list-group-item"><a href="#">Mar 2016</a></li>
                      <li class="list-group-item"><a href="#">Feb 2016</a></li>
                      <li class="list-group-item"><a href="#">Jan 2016</a></li>
                      <li class="list-group-item"><a href="#">Dec 2015</a></li>
                      <li class="list-group-item"><a href="#">Nov 2015</a></li>
                      <li class="list-group-item"><a href="#">Oct 2015</a></li>
                  </ul>
              </div> <!-- end col-md-3 -->

          </div> <!-- end row -->
      </div> <!-- end container -->
  </section> <!-- end content-section -->

</div>
<app-footer></app-footer>
